{
  "parser": "babel-eslint",
  "root": true,
  "extends": [
    "eslint:recommended",
    "standard"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": false,
      "impliedStrict": false,
      "jsx": false
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
    "commonjs": false,
    "mocha": true
  },
  "globals": {
    "App": true,
    "Page": true,
    "Component": true,
    "wx": true
  },
  "rules": {
    "quotes": ["error", "single"],
    "eqeqeq": "warn",
    "curly": "off",
    "no-cond-assign": "error",
    "guard-for-in": "warn",
    "block-scoped-var": "warn",
    "class-methods-use-this": "warn",
    "default-case": "warn",
    "no-alert": "error",
    "no-empty-function": "error",
    "no-extend-native": "error",
    "semi": ["off", "always"],
    "indent": ["error", 2],
    "no-undef": "off",
    "no-console": "off",
    "no-multi-spaces": "off",
    "no-global-assign": "error"
  }
}
