.create-product-box {
  .picture-cover {
    .photo-box {
      width:183rpx;
      height:183rpx;
      text-align: center;
      background:#F8F8F8;
      margin:86rpx 284rpx 0;
      image {
        width:69rpx;
        height:68rpx;
        margin-top:31rpx;
      }
      view {
        color:#999999;
        font-size:26rpx;
      }
    }
    .input-box {
      display:flex;
      width:654rpx;
      height:64rpx;
      line-height: 64rpx;
      background:#F8F8F8;
      padding: 0 16rpx;
      justify-content: space-between;
      margin:110rpx 32rpx 47rpx;
      input {
        height:64rpx;
        line-height: 64rpx;
        font-size:28rpx;
      }
      view {
        font-size:24rpx;
        color:#999999;
      }
    }
    .btn-box {
      width: 690rpx;
      height: 90rpx;
      line-height: 90rpx;
      color:#FFFFFF;
      font-size:32rpx;
      font-weight:500;
      background-image:linear-gradient(to right,rgba(254,100,149,1) 0%,rgba(244,74,72,1) 100%);
      border-radius:50px;
      text-align: center;
      position:fixed;
      bottom: 20rpx;
      left:30rpx;
    }
  }
}
