.moments-container {
  width: 100%;
  .top-mark {
    position: absolute;
    width: 100%;
    height: 124rpx;
    top: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    z-index: 15;
  }
}
