.GoodsLogsBox{
  .logsTitle{
    display:flex;
    justify-content: space-between;
    line-height: 48rpx;
    padding:0 24rpx;
    .logsTxt{
      color:#333333;
      font-size:36rpx;
      font-weight:600;
    }
    .moretxt{
      color:#999999;
      font-size:24rpx;
    }
  }
  .playGoodsBox{
    padding-left :24rpx;
    .scrolls{
      white-space:nowrap;
      display:flex;
      overflow:hidden;
      .auction_box{
        display: inline-block;
        width:294rpx;
        position:relative;
        margin:24rpx 16rpx 0 0;
        .img-box{
          width:294rpx;
          height:207rpx;
          border-radius:16rpx;
        }
        .txt-box{
          position:absolute;
          top:118rpx;
          left:16rpx;
          color:#fff;
          .title{
            font-size:28rpx;
            font-weight: 600;
          }
          .time{
            font-size:22rpx;
          }
        }
        .userbox{
          margin-top:14rpx;
          display:flex;
          image{
            width:34rpx;
            height:34rpx;
            border-radius:50%;
          }
          view{
            color: #333333;
            font-size:26rpx;
            margin-left:10rpx;
          }
        }
      }
    }
  }
}
