page{
  background:#F8F8F8;
}
.treasureLogBox{
  .titleChoiseBox{
    width:100%;
    height:72rpx;
    line-height:72rpx;
    background:#fff;
    font-size:28rpx;
    display:flex;
    .scrolls{
      white-space:nowrap;
      display:flex;
      overflow:hidden;
      .txt-box{
        display:inline-block;
        padding:0 32rpx;
        color:#888;
        font-weight:400;
      }
    }
  }
  .articleBox{
    margin:8rpx 24rpx 0;
    .margin-box{
      display:flex;
      flex-wrap: wrap;
      justify-content:space-between;
      .articleList{
        width: 342rpx;
        background:#ffffff;
        border-radius:16rpx;
        overflow:hidden;
        position:relative;
        margin-bottom:18rpx;
        .img-box{
          width:100%;
          height:342rpx;
        }
        .userDetail{
          color:#fff;
          position:absolute;
          top:238rpx;
          left:20rpx;
          .txtName{
            font-size:34rpx;
          }
          .txtTime{
            font-size:28rpx;
          }
        }
        .userImg{
          display: flex;
          padding:18rpx 16rpx;
          .user-img{
            width:40rpx;
            height:40rpx;
            border-radius:50rpx;
          }
          .username{
            font-size:24rpx;
            line-height:38rpx;
            color:#666666;
            margin-left:10rpx;
          }
        }
      }
    }
  }
}
