.tab-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100rpx;
  background: white;
  display: flex;
  align-items: flex-end;
  padding-bottom: env(safe-area-inset-bottom);
}

.tab-bar-border {
  background-color: rgba(0, 0, 0, 0.33);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  transform: scaleY(0.5);
  box-shadow: 0 -4rpx 6rpx 0 rgba(0,0,0,0.03);
}

.tab-bar-item {
  flex: 1;
  height: 100rpx;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  image {
    width: 48rpx;
    height: 48rpx;
  }
  .tabbar-name {
    margin-top: 6rpx;
    font-size: 22rpx;
  }
}

.tab-bar-item2 {

  image {
    width: 88rpx;
    height: 88rpx;
    border-radius: 50%;
  }
}
