.publish-main-container {
  .selected-img-pre {
    width: 100%;
    padding: 41rpx 30rpx 20rpx;
    box-sizing: border-box;
    white-space: nowrap;

    .add-img-hander {
      display: inline-block;
      width: 130rpx;
      height: 130rpx;
      border-radius: 6rpx;
      background: #F8F8F8;
      position: relative;

      &::before {
        content: '';
        display: block;
        width: 4rpx;
        height: 62rpx;
        background: #999999;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }

      &::after {
        content: '';
        display: block;
        width: 62rpx;
        height: 4rpx;
        background: #999999;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
    }

    .img-preview {
      display: inline-block;
      width: 130rpx;
      height: 130rpx;
      border-radius: 6rpx;
      background: #000000;
      margin-left: 17rpx;
      overflow: hidden;
      position: relative;

      .play-icon {
        position: absolute;
        width: 36rpx;
        height: 36rpx;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
      }

      .tag-icon {
        width: 22rpx;
        height: 22rpx;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAOVBMVEVHcEz///////////////////////////////////////////////////////////////////////99PJZNAAAAEnRSTlMAjQr2ASGhFM+8kGXkxyNNdzAmIDCjAAABK0lEQVQ4y43V27LDIAgFUBtpLEdTE/7/Y4vpyTQCXnhs1+xBkdY5ozImqsqn9WlBB8tKRvlo4fAiu2LDYn5XdUTuyz9N+wAHID5nvZrW6i4SpVnrDu5j1ro3fzVrJe5agfu2xgNbYWEhbt5vEUxcWwj4nTAGA8tcvN4DgsKyX56W30PY/e31XFidbSPay+vYiTaB9T1wYjhbv434i407+8dOY9T3e7bBpdrIxiyaB8T7/bSvDnJ5z7wBWe+WGgpwa1gOc6gFBzXuPyqhyVxbWcXyCvKPRFpm7Gs5d4twmbBn+4+h/lkH60DfLB+9r+92lC1sN1vaXrZhm9mWbWU3rJndslZ2x6rsnpW6bysNI3vpFI+8DW3ZkN9/4MCe/HGt6uIm6liTT5gd6K8+1rMiXFjaAN4AAAAASUVORK5CYII=");
        background-size: 100%;
        position: absolute;
        left: 10rpx;
        bottom: 10rpx;
        z-index: 5;
      }
    }
  }

  .input-title {
    margin: 0 32rpx;
    height: 90rpx;
    border-bottom: 1rpx solid #DCDCDC;
    display: flex;
    align-items: center;

    .input {
      width: 100%;
      font-size: 30rpx;
      color: #333333;
      font-weight: 500rpx;
    }

    .input-title-placeholder {
      color: #999999;
      font-size: 30rpx;
      font-weight: normal;
    }

    .word-count {
      font-size: 24rpx;
      color: #999999;
      margin-left: 60rpx;
    }
  }

  .text-area-input {
    padding: 0 32rpx;

    .textarea {
      width: 100%;
      padding: 26rpx 0;
      height: 254rpx;
      color: #333333;
      font-size: 30rpx;
      font-weight: normal;
    }

    .input-text-placeholder {
      color: #999999;
      font-size: 30rpx;
      font-weight: normal;
    }

    .word-count {
      width: 100%;
      height: 86rpx;
      line-height: 86rpx;
      text-align: right;
      color: #999999;
      font-size: 24rpx;
      border-bottom: 1rpx solid #DCDCDC;
    }
  }

  .linked {
    padding: 0 32rpx;
    height: 98rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .linked-main,
    .linked-secondary {
      display: flex;
      align-items: center;
      height: 100%;
      line-height: normal;
    }

    .linked-main {
      .icon {
        width: 32rpx;
        height: 28rpx;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAAA4BAMAAAC/NuNBAAAALVBMVEVHcEw1NTU9PT0zMzMzMzMzMzM1NTUzMzM2NjYzMzM0NDQ0NDQzMzM0NDQzMzMO9iQzAAAADnRSTlMASwzktM01iyGtpPhyWkDNc6YAAAGQSURBVDjL7ZQxS8NQEMevAWMUBR2kmwSKYB1ECiouRdDJyepeIg4uUhTBsQRnEdFdpHQWwb04iZP4CQoa2liD9xm860tI2r57H0D8Dwm5+72X9/7v3gGQjvZbOKJo9RxizaEmTwRWVL6Iom4471RloOMTsIAG7RFwZwJ6ADl6Ba8ujMi6LFNqBsbo2QCtlii1CzXEbxD0gNiFOmJJAgqIIdAmnyVgijYKtBI/E1u8yHw4iE9ALqdbsM8Q1710I+Q30ErTEX1PeumMnMwCh8qdNQmw40ONPAEoJAaXBKDOrrO/oR5w6A+h7xAW+VqAbMF3gGlMrYuBbaWt+FToBDYh1+RQDKT6YGAecQXektAg8MnAMuIjtPTAFwNXNIOFeuCHgTaXSVUPBHRuFjlxn7iugFmlvLoIxX4lWgccGnKShgan+bKaSGd1e2ApGmAiAa4FwIqX3nGlgplUQEOsKGoEpArIABw3d17ABAzpH/iDgCvl+X5xrZsUmJs9t/uaGejCuBk4Ua1LFLcz+1bOb3jwC85OA4eBCBd1AAAAAElFTkSuQmCC");
        background-size: 100%;
        margin-right: 16rpx;
      }

      .title {
        font-size: 30rpx;
        color: #333333;
        font-weight: 600;
      }
    }

    .linked-secondary {
      .text {
        color: #888888;
        font-size: 28rpx;
      }

      .icon {
        width: 16rpx;
        height: 27rpx;
        margin-left: 24rpx;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAA2BAMAAABU24ZBAAAAGFBMVEVHcExISEg0NDQ0NDRAQEA0NDQzMzMzMzPM5HKxAAAAB3RSTlMAB7aZD8vnCpK3GQAAAFhJREFUKM9jYMAAZskCKHzm8nJFFAG28vIiATQBVCVALahKGNXRlQiNKqGeknSgiAFa+Jc6IAmYAwVCRhVQQQEbmgKQAIoCkBYUBQws5sUOqFmMUYABLwAATLJddgE151EAAAAASUVORK5CYII=");
        background-size: 100%;
      }
    }
  }

  .confirm-actionSheet {
    width: 100%;
    background: #FFFFFF;
    border-radius: 24rpx 24rpx 0 0;
    text-align: center;

    .actionSheet-head,
    .actionSheet-confirm,
    .actionSheet-cancel {
      width: 100%;
      height: 106rpx;
      display: table;

      text {
        display: table-cell;
        vertical-align: middle;
      }
    }

    .actionSheet-head {
      padding: 0 20rpx;
      border-bottom: 1px solid #F5F5F5;
      color: #888888;
      font-size: 30rpx;
    }

    .actionSheet-confirm {
      color: #FF335F;
      font-size: 32rpx;
    }

    .actionSheet-cancel {
      color: #666666;
      font-size: 32rpx;
      background: #F8F8F8;
    }
  }
}
