page{
  background:#F8F8F8;
}
.my-center-box{
 .user-center-box{
   background:#FFF;
   position:relative;
   .bg{
     width:100%;
     height:170rpx;
   }
   .user-box{
     position:absolute;
     top:46rpx;
     left:24rpx;
     width: 702rpx;
     height:204rpx;
     border-radius:16rpx;
     box-shadow:0px 4px 30px 0px rgba(111,191,231,0.22);
     background: #fff;
     .userhead-box{
       display:flex;
       position: absolute;
       top:-26rpx;
       left:24rpx;
       .photo-box{
        width: 142rpx;
        height:142rpx;
        background:#fff;
        border-radius:50%;
        border:3rpx solid #fff;
        image{
          width: 142rpx;
          height:142rpx;
          border-radius:50%;
        }
       }
       .username{
         font-size:36rpx;
         font-weight:500;
         margin:57rpx 0 0 16rpx;
       }
     }
     .mytreasure{
       font-size:30rpx;
       margin:136rpx 0 0 24rpx;
     }
   }
   .title-txt{
     display:flex;
     padding:20rpx 243rpx 0;
     justify-content: space-around;
     margin-top:98rpx;
     .titleName{
       text-align: center;
       .txtname{
         font-size:36rpx;
         color:#666666;
       }
       .line{
        display:inline-block;
        width:48rpx;
        height:6rpx;
        background:rgba(20,176,238,1);
        border-radius:8rpx;
       }
     }
   }
   .divider{
     width:750rpx;
     height:1rpx;
     background:#E6E6E6;
     margin-top:-7rpx;
   }
 }
 .detail-Box{
   margin-top:82rpx;
   text-align: center;
    image{
      width:240rpx;
      height:216rpx;
    }
    view{
      font-size:28rpx;
      color:#888888;
    }
 }
 .send-icon{
   position:fixed;
   left:195rpx;
   bottom:8rpx;
   image{
     width:360rpx;
     height:114rpx;
   }
 }
}
