page {
  background: #000000;
}
.publish-edit-container {
  width: 100%;
  .source-preview {
    width: 100%;
    height: 100vh;
    .source-preview-item {
      position: relative;
      image.source-preview-img {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
      }
      .selected-tag {
        padding: 0 12rpx 0 16rpx;
        height: 44rpx;
        border: 1rpx solid #FFFFFF;
        border-radius: 22rpx;
        background:rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        position: absolute;
        bottom: 140rpx;
        left: 32rpx;
        z-index: 20;
        .tag-small-icon {
          width: 22rpx;
        }
        text {
          text-align: center;
          padding: 0 10rpx 0 8rpx;
          color: #FFFFFF;
          font-weight: 600;
        }
        .delete-tag-hander {
          width: 24rpx;
        }
      }
      .edit-buttons {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 40rpx;
        z-index: 20;
        padding: 0 32rpx;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .tag-select-hander {
          display: flex;
          align-items: center;
          image.tag-icon {
            width: 40rpx;
            margin-right: 16rpx;
          }
          text {
            font-size: 30rpx;
            font-weight: 600;
            color: #FFFFFF;
          }
        }
        .confirm-hander {
          width: 168rpx;
          height: 58rpx;
          border-radius: 34rpx;
          display: table;
          text-align: center;
          background-image: linear-gradient(to right, #FE6495, #F44A48);
          text {
            color: #FFFFFF;
            font-size: 31rpx;
            display: table-cell;
            vertical-align: middle;
          }
        }
      }
      .actionSheet {
        width: 100%;
        border-radius: 24rpx 24rpx 0 0;
        background: #000000;
        opacity: 0.85;
        .actionSheet-head {
          display: table;
          width: 100%;
          height: 110rpx;
          text-align: center;
          border-bottom: 1rpx solid #E6E6E6;
          text {
            display: table-cell;
            vertical-align: middle;
            color: #FFFFFF;
            font-size: 32rpx;
          }
        }
        .actionSheet-list {
          padding: 0 32rpx;
          .actionSheet-item {
            display: table;
            width: 100%;
            height: 88rpx;
            text-align: left;
            border-bottom: 1rpx solid #D9D9D9;
            &:last-of-type {
              border-bottom: none;
            }
            text {
              display: table-cell;
              vertical-align: middle;
              color: #FFFFFF;
              font-size: 32rpx;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
